<!--
Name: Derek Kneisel & Adham Elbaz
Course: CSC 415 and BUS/MGT 375
Semester: Fall 2018
Instructor: Dr. Pulimood
Project name: Ticketman - Team 2 - Special Ops
Description: This project is to help Dave Zboray (from MSF) organize all the issues his employees have. An employee can
submit an issue which is then displayed in an issue table. Dave can view all issues to see what needs to be done. He can
edit, update, or delete these issues to let his employees know that their issues are taken care of.
Filename: new.html.erb
Description: This page is displayed when the user wants to create a new ticket.
Last modified on: 12/03/2018
-->
<h1>New Ticket</h1>

<!--Partial form - _form.html.erb-->
<%= render 'form', ticket: @ticket %>

<div class="btn btn-primary">
  <%= link_to 'Back',tickets_path(@ticket), :class => "btn btn-primary"%> |
</div>


