/*
Name: Derek Kneisel & Adham Elbaz
Course: CSC 415 and BUS/MGT 375
Semester: Fall 2018
Instructor: Dr. Pulimood
Project name: Ticketman - Team 2 - Special Ops
Description: This project is to help Dave Zboray (from MSF) organize all the issues his employees have. An employee can
submit an issue which is then displayed in an issue table. Dave can view all issues to see what needs to be done. He can
edit, update, or delete these issues to let his employees know that their issues are taken care of.
Filename: application.css.scss
Description: This file imports Bootstrap and contains styling for our pages.
Last modified on: 12/03/2018
*/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require dataTables/jquery.dataTables
 */

@import "bootstrap";

// Scrollable table
.table-wrapper-scroll-y {
  display: block;
  max-height: 500px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.left {
  padding-left: 5px;
}
